*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    width: 20%;
    height: 100%;

    background-color: yellow;

    border: 15px;
    overflow-y: scroll;
    font-size: 25px;
    text-align: center;
}
.card__img{
    width: 100%;
}
.card__name{
    font-weight: 700;
}
.btn{
    text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.btn:hover {
    background-position: right center;
}